<div class="container__small-card">

    <div class="container__small-card-content">
        <div class="small-card__photo">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2F736x%2F65%2F28%2Fa6%2F6528a6ddaee5a84de4fc2c14936d2098.jpg&f=1&nofb=1&ipt=1198de3df77a4e1991cc72903b630a73158bbb366397c9af85dee69f42601fdb&ipo=images" 
                alt="" >
        </div>

        <div class="small-card__title">
            <h1><a href="#">The Small Card Title</a></h1>
        </div>
    </div>

    <div class="small-card__separator">
        <hr>
    </div>

</div>
