
<app-menu-title></app-menu-title>

<div class="container__articles">
    <div class="articles__main">
        <app-big-card 
            cardTitle="The Ghost of Midnight"
            photoCover="https://cdnb.artstation.com/p/assets/images/images/049/281/251/large/cesar-augusto-cesaraugustodecarvalho001-name.jpg?1652129851"
            cardDescription="3D Character Modeling and for Topia Art Experience 2022 Contest - 'Your history of Brazil' in which I came in 2nd place."
        ></app-big-card>
        
    </div>
    <div class="articles__others">
        
        <app-small-card
            photoCover="https://cdnb.artstation.com/p/assets/images/images/057/875/561/large/cesar-augusto-0-2arquivo-photoshop.jpg?1672872145"
            cardTitle="Abandoned Winter Cottage"
        ></app-small-card>
        <app-small-card
            photoCover="https://cdna.artstation.com/p/assets/images/images/065/763/164/large/cesar-augusto-high-poly.jpg?1691153513"
            cardTitle="Ancient God"
        ></app-small-card>
        <app-small-card
            photoCover="https://cdna.artstation.com/p/assets/images/images/065/775/034/large/cesar-augusto-wip-artcard-thumb.jpg?1691175142"
            cardTitle="Dungeon Quest Project"
        ></app-small-card>
        <app-small-card
            photoCover="https://cdna.artstation.com/p/assets/images/images/052/910/356/large/cesar-augusto-tbrender.jpg?1660960041"
            cardTitle="Test 317 gun"
        ></app-small-card>

    </div>
</div>
